@using COMP2139_ICE1.Models
@using Microsoft.AspNetCore.Identity
@using COMP2139_ICE1.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var hasProfilePicture = user?.ProfilePicture != null && user.ProfilePicture.Length > 0;
        var userId = user?.Id;

        <li class="nav-item">
            <a id="manage" class="nav-link text-dark d-flex align-items-center" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @if (hasProfilePicture)
                {
                    <img src="@Url.Action("GetProfilePicture", "Profile", new { userId = userId })"
                         alt="@UserManager.GetUserName(User)"
                         class="rounded-circle me-2"
                         style="width: 35px; height: 35px; object-fit: cover;" />
                }
                else
                {
                    <span class="rounded-circle me-2 d-flex align-items-center justify-content-center"
                          style="width: 35px; height: 35px; background-color: #e9ecef; color: #6c757d;">
                        <i class="fa fa-user"></i>
                    </span>
                }
                <span>Hello @UserManager.GetUserName(User)!</span>
            </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>