@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    // Specifies the layout file for this view.
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    This view displays a list of all roles in the system.
    It provides functionality to create new roles and delete existing ones.
*@
<h2>Roles</h2>

<a href="@Url.Action("Create", "Roles", new { area = "Admin" })" class="btn btn-primary mb-3">
    Create New Role
</a>


<table class="table table-bordered">
    <thead>
    <tr>
        <th>Role Name</th>
        <th>Actions</th> @* Column for action links like Delete *@
    </tr>
    </thead>
    <tbody>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <a href="@Url.Action("Delete", "Roles", new { area = "Admin", id = @role.Id })" 
                   class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>